.header {
    display: flex;
    padding-top: 21px;
    justify-content: space-between;
    align-items: center;
    &__logo {
        min-width: 251px;
    }
    &__rep {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        span {
            font-weight: 700;
            display: block;
            margin-top: 5px;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__tel {
        display: block;
        color:#ffffff;
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        text-align: right;
        margin-bottom: 4px;
    }
}